<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=firefox" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Flutmodell</title>
        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@85.1,384&display=swap"
            rel="stylesheet"
        />
        <!-- favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.svg') }}" />

        <!-- leaflet dependencies -->
        <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
            crossorigin=""
        />

        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script
            src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""
        ></script>

        <!-- own javascript -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/modules/api.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>

        <!-- own stylesheet -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/map.css') }}" />
    </head>

    <body>
        <!-- <div class="map-wrapper"> -->
        <div id="mapContainer"></div>
        <div class="control-wrapper">
            <button type="button" id="btn1" onclick="fixLocation()" title="Standpunkt Setzen" class="flood_btn">
                <img src="{{ url_for('static', filename='icons/push_pin_black_24dp.svg') }}" alt="Standpunkt setzen" />
            </button>

            <button
                type="button"
                id="btnFld"
                onclick="sendRequestFloodzone()"
                title="Flutbereich berechnen"
                class="flood_btn"
                disabled=""
            >
                <img src="{{ url_for('static', filename='icons/waves_black_24dp.svg') }}" alt="Anfrage senden" />
                <div class="loading"></div>
            </button>
            <button
                type="button"
                id="btnGeb"
                onclick="sendRequestGebOverlap()"
                title="Gebäude berechnen"
                class="flood_btn"
                disabled=""
            >
                <img src="{{ url_for('static', filename='icons/water_damage_black_24dp.svg') }}" alt="Anfrage senden" />
                <div class="loading"></div>
            </button>
            <div class="slidecontainer">
                <div class="slider_wrapper">
                    <input type="range" min="1" max="50" value="1" class="slider" id="height_slider" />
                    <label for="height_slider" class="slider_label"
                        >Wasserstand+: <span id="height_label_value"></span>m</label
                    >
                </div>
                <div class="slider_wrapper">
                    <input type="range" min="1" max="30" value="10" class="slider" id="radius_slider" />
                    <label for="radius_slider" class="slider_label"
                        >Radius: <span id="radius_label_value"></span>m</label
                    >
                </div>
            </div>
        </div>
        <div class="zoom-wrapper">
            <button type="button" id="btnZoomIn" onclick="zoomInMap()" title="Zoom in" class="zoom_btn">
                <img src="{{ url_for('static', filename='icons/add_black_24dp.svg') }}" alt="" />
            </button>
            <button type="button" id="btnZoomOut" onclick="zoomOutMap()" title="Zoom out" class="zoom_btn">
                <img src="{{ url_for('static', filename='icons/remove_black_24dp.svg') }}" alt="" />
            </button>
            <button type="button" id="btnZoomToLayer" onclick="zoomToLayer()" title="Zoom to Layer" class="zoom_btn">
                <img src="{{ url_for('static', filename='icons/center_focus_weak_black_24dp.svg') }}" alt="" />
            </button>
        </div>
        <div class="download-wrapper">
            <button type="button" id="btnJson" onclick="donwnloadJSON()" title="Download as JSON" class="download_btn">
                <img src="{{ url_for('static', filename='icons/file_download_black_24dp.svg') }}" alt="JSON" />
            </button>
            <!-- <button type="button" id="btnPng" class="flood_btn">PNG</button> -->
        </div>
    </body>
</html>
