<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=firefox" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Flutmodell</title>
        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@85.1,384&display=swap"
            rel="stylesheet"
        />
        <!-- bootstrap dependencies -->
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
        crossorigin="anonymous"></script> -->

        <!-- leaflet dependencies -->
        <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
            crossorigin=""
        />

        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script
            src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""
        ></script>

        <!-- own javascript -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/modules/api.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>

        <!-- own stylesheet -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/map.css') }}" />
    </head>

    <body>
        <!-- <div class="map-wrapper"> -->
        <div id="mapContainer"></div>
        <div class="control-wrapper">
            <input type="button" id="btn1" onclick="fixLocation()" value="Standpunkt Setzen" class="flood_btn" />
            <!-- <input type="button" id="btn2" onclick="alert('km x km')" value="Radius setzen" class="flood_btn" /> -->
            <!-- <input type="button" id="btn3" onclick="alert('Höhe in m über Wasserstand')" value="Höhe setzen"class="flood_btn" /> -->
            <button type="button" id="btnGeb" onclick="sendRequestGebOverlap()" class="flood_btn" disabled="">
                Gebäude
                <div class="loading"></div>
            </button>
            <button type="button" id="btnFld" onclick="sendRequestFloodzone()" class="flood_btn" disabled="">
                Anfrage Senden
                <div class="loading"></div>
            </button>
            <div class="slidecontainer">
                <div class="slider_wrapper">
                    <input type="range" min="1" max="50" value="1" class="slider" id="height_slider" />
                    <label for="height_slider" class="slider_label"
                        >Wasserstand+: <span id="height_label_value"></span>m</label
                    >
                </div>
                <div class="slider_wrapper">
                    <input type="range" min="1" max="30" value="10" class="slider" id="radius_slider" />
                    <label for="radius_slider" class="slider_label"
                        >Radius: <span id="radius_label_value"></span>m</label
                    >
                </div>
            </div>
        </div>
        <div class="download-wrapper">
            <div>Download als:</div>
            <button type="button" id="btnJson" class="flood_btn">JSON</button>
            <button type="button" id="btnPng" class="flood_btn">PNG</button>
        </div>
    </body>
</html>
