:root {
    /* CSS HEX */
    --blue5: rgb(3, 4, 94);
    --blue4: rgb(2, 62, 138);
    --blue3: rgb(0, 150, 199);
    --blue2: rgb(0, 180, 216);
    --blue1: rgb(202, 240, 248);
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.map-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid black;
}

#mapContainer {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: var(--blue5);
}

.control-wrapper {
    z-index: 2;
    position: absolute;
    bottom: 5vh;
    /* width: 40vw; */
    /* background-color: #000; */
    background-color: rgba(202, 240, 248, 0.6);
    margin: 1rem;
    padding: 0.2rem;
    border: 2px solid var(--blue4);
    border-radius: 0.3rem;
}
.download-wrapper {
    z-index: 2;
    position: absolute;
    bottom: 5vh;
    right: 0vh;
    font-weight: 900;
    /* width: 40vw; */
    /* background-color: #000; */
    background-color: rgba(202, 240, 248, 0.6);
    margin: 1rem;
    padding: 0.2rem;
    border: 2px solid var(--blue4);
    border-radius: 0.3rem;
}

.flood_btn {
    height: 40px;
    width: 120px;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: var(--blue3);
    /* outline-color: black; */

    /* line-height: 26px; */
    padding: 5px 3px;
    cursor: pointer;
    margin: 4px 2px;
    border-radius: 5px;
    border: none;
    transition-duration: 0.4s;
    position: relative;
}

.flood_btn:hover {
    background-color: var(--blue4);
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.flood_btn:disabled,
.flood_btn:disabled:hover {
    background-color: rgb(131, 132, 133);
    cursor: default;
    box-shadow: none;
}

.flood_btn.btn_loading:disabled,
.flood_btn.btn_loading:disabled:hover {
    cursor: wait;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.fill:hover,
.fill:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

.slider_wrapper {
    display: flex;
}

.slider_label {
    /* outline-style: auto; */

    align-items: baseline;

    height: 2rem;
    background-color: var(--blue1);
    font-weight: bold;
    /* padding: 0.6rem; */
    cursor: pointer;
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 55%;
    background-color: var(--blue5);
    height: 5px; /* Specified height */
    outline: none; /* Remove outline */
    opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;
    margin: 15px;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
    cursor: pointer; /* Cursor on hover */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: var(--blue3); /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 100vh;
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: var(--blue3); /* Green background */
    cursor: pointer; /* Cursor on hover */
    border: none;
    border-radius: 100vh;
}

.loading {
    width: 0px;
    height: 0.3rem;
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: var(--blue4);
}

.btn_loading div {
    animation-name: btn_loading_animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes btn_loading_animation {
    0% {
        width: 0px;
        left: 0;
    }
    50% {
        width: 30%;
        left: 30%;
    }
    100% {
        width: 0px;
        left: 100%;
    }
}
